
# Environment variables
.env
.env.local
.env.*.local

# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyCharm
.idea/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage

# Jupyter Notebook
.ipynb_checkpoints

# Vector store (if you don't want to push embeddings)
vector_store/